* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root{
  --blue: #0d3b66;
  --cream: #faf0ca; 
  --yellow: #f4d35e;
  --pink: #ef476f;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;   
    align-items: center;  
    padding: 20px 10%;
    height: 120px;
}

header.sticky {
    background-color: rgba(13, 59, 102, 0.95);   
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: background-color 0.3s ease;
    height: 120px;
}

.navmenu {
    display: flex;
}

.navmenu a {
    color: var(--cream);
    font-size: 15px;
    text-transform: capitalize;
    padding: 10px 20px;
    line-height: 1;
    font-weight: 400;
    transition: all .42s ease;
}

.navmenu a:hover {
    color: var(--yellow);
}

.nav-icon {
    display: none;
}

section {
    padding: 5% 10%;
}

.main-home {
    display: flex;
    justify-content: center; 
    align-items: center;
    background-image: url(Assets/Background.png);
    height: 100vh;           
    position: relative;
    text-align: center;
}

.product-showcase {
    position: relative;
}

.bg-text {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 1; 
    font-size: 15vw; 
    font-weight: 900;
    letter-spacing: -1vw; 
    color: white; 
    opacity: 0.1;
    padding-bottom: 25%;
}

.product-image {
    padding-top: 50%;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
    transform: translateY(80px); /* start lower */
    animation: riseUp 2s ease-out forwards;
}

/* The animation */
@keyframes riseUp {
    0% {
        opacity: 0;
        transform: translateY(80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.down-arrow {
    position: absolute;
    top: 85%;
    right: 11%;
}

.down i {
    font-size: 30px;
    color: var(--cream);
    border: 2px solid var(--cream);
    border-radius: 50px;
    padding: 12px 12px;
}

.down i:hover {
    background-color: var(--cream);
    color: var(--blue);
    transition: all .42s ease;
}

/*details-section*/

.details {
    background-color: var(--cream);  
    color: var(--blue);
    text-align: left;
}

.details-container {
    max-width: 1000px;
    margin: 0 auto;
}

.details h2 {
    color: var(--pink);
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 400;
}

.details p {
    font-size: 3em;
    font-weight: 700;
}


/*features-section*/

.features {
    background-color: var(--blue);  
    color: var(--cream);
    text-align: left;
}

.features-container {
    max-width: 1000px;
    margin: 0 auto;
}

.features h2 {
    color: var(--pink);
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 400;
}

.features p {
    font-size: 3em;
    font-weight: 700;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 4 equal columns */
  grid-template-rows: repeat(6, 100px); /* you can adjust height per row */
  gap: 1.5rem;
  margin-top: 6rem;
}

.feature-card {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
}

.feature-card img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}

.feature-card .content {
  position: relative;
  z-index: 10;
  padding: 1.25rem;
  margin-top: auto;
  color: var(--cream);
}

.feature-card h2 {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.2;
  color: var(--cream);
}

/* Card positions in grid */
.feature-card.pressure { grid-area: 1 / 1 / span 3 / span 3; }
.feature-card.battery { grid-area: 1 / 4 / span 3 / span 2; }
.feature-card.app { grid-area: 4 / 1 / span 3 / span 2; }
.feature-card.piezo { grid-area: 4 / 3 / span 3 / span 3; }

    /* Gradient overlay */
    .feature-card::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(13, 59, 102, 0.8);
    z-index: 5;
    }

/*Download section*/

.download {
    background-color: var(--cream);  
    color: var(--blue);
    text-align: center;
}

.download-container {
    max-width: 1000px;
    margin: 0 auto;
}

.download h2 {
    color: var(--pink);
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 400;
}

.download p {
    font-size: 3em;
    font-weight: 700;
}

.download-button {
    padding: 12px 24px;      
    background-color: var(--yellow);   
    color: var(--blue);        
    border: none;             
    border-radius: 16px;        
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s, transform 0.3s;
    display: block;       
    margin: 1rem auto 0;  
    text-align: center;
}

.download-button:hover {
    background-color: var(--cream);  
    transform: scale(1.05); 
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}


/*FAQ-section*/

.FAQ {
    background-color: var(--blue);  
    color: var(--cream);
    text-align: center;
}

.FAQ-container {
    max-width: 1000px;
    margin: 0 auto;
}

.FAQ h2 {
    color: var(--pink);
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 400;
}

.FAQ p {
    font-size: 3em;
    font-weight: 700;
}

.faq-btn {
    display: flex;
    align-items: center;        
    justify-content: space-between;
    width: 100%;
    padding: 16px 20px;        
    text-align: left;
    color: var(--yellow);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.faq-q {
    flex: 1;                    
    color: var(--cream);
    text-align: left;
    font-weight: 400;
}

.faq-icon {
    transition: transform 0.3s ease;
}

.rotate {
    transform: rotate(45deg);
}

.faq-answer {
    color: var(--cream);
    display: none;
    padding: 0 20px 16px;       
    text-align: left;
    font-size: 1rem;
}

.box {
    border: 1px solid var(--blue) ;  
    border-radius: 20px;
    overflow: hidden;     
    background-color: rgba(255, 255, 255, 0.1);     
}

/*text animation*/

.animate-left {
    opacity: 0;
    transform: translateX(-50px);
    transition: all 1s ease-out;
}

.animate-left.visible {
    opacity: 1;
    transform: translateX(0);
}

.animate-top {
    opacity: 0;
    transform: translateY(-50px);   
    transition: all 1s ease-out;
}

.animate-top.visible {
    opacity: 1;
    transform: translateY(0);      
}

/* Pricing section */
.Pricing {   
    background-color: var(--cream);
    text-align: center;
    padding: 60px 20px;
}

.Pricing-container {
    max-width: 1000px;
    margin: 0 auto;
}

.Pricing h2 {
    color: var(--pink);
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 400;
}

.Pricing p {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 30px;
    color: var(--blue);
}

/* Rounded button */
.buy-button {
    padding: 12px 24px;      
    background-color: var(--yellow);   
    color: var(--blue);        
    border: none;             
    border-radius: 16px;        
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s;
}

.buy-button:hover {
    background-color: var(--cream);  
    transform: scale(1.05); 
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.buy-button a {
    color: var(--blue);
    text-decoration: none;
    display: block;
}

.buy-button a:hover {
    color: var(--blue);
}

/*contact-section*/

.contact {
    background-color: var(--blue);
}

.contact-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 3rem;
}

.contact-logo img {
    width: 140px;
    height: auto;
}

.contact-info h4 {
    color: var(--yellow);
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.contact-info p {
    color: var(--cream);
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .42s;
}

.contact-info p:hover {
    color: var(--yellow);
}

.social-icon i {
    color: var(--cream);
    margin-right: 10px;
    font-size: 20px;
    transition: all .42s;
}

.social-icon i:hover {
    transform: scale(1.3);
    Color: var(--yellow);
}

@media (max-width: 500px) {
    .contact-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
        grid-template-areas: 
            "logo first-info"
            "second-info third-info";
        gap: 1.5rem;
    }

    .contact-logo {
        grid-area: logo;
        justify-self: start;
    }

    .first-info {
        grid-area: first-info;
    }

    .second-info {
        grid-area: second-info;
    }

    .third-info {
        grid-area: third-info;
    }

    .contact-logo img {
        width: 100px; /* adjust logo size for small screens */
    }
}

/*responsive-css*/

@media(max-width:750px){
    .nav-icon {
        display: flex;
    }   
    .navmenu{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 130vh;
        background-color: rgba(13, 59, 102, 0.95);   
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 30px;
        transition: all .42s;
    }
    
    .navmenu a{
        display: block;
        margin: 18px 0;
    }
    .navmenu.open{
        right: 0;
    }
}

@media(max-width: 800px){
    .details {
        padding: 30px 15px;  
    }
    .details-container {
        max-width: 100%;    
        margin: 0 auto;
    }
    .details h2 {
        font-size: 1.2rem;   
        margin-bottom: 10px;
    }
    .details p {
        font-size: 1.5rem; 
        line-height: 1.4; 
    }

    .features {
        padding: 30px 15px;  
    }
    .features-container {
        max-width: 100%;    
        margin: 0 auto;
    }
    .features h2 {
        font-size: 1.2rem;   
        margin-bottom: 10px;
    }
    .features p {
        font-size: 1.5rem; 
        line-height: 1.4; 
    }
    
    .FAQ {
        padding: 30px 15px;  
    }
    .FAQ-container {
        max-width: 100%;    
        margin: 0 auto;
    }
    .FAQ h2 {
        font-size: 1.2rem;   
        margin-bottom: 10px;
    }
    .FAQ p {
        font-size: 1.5rem; 
        line-height: 1.4; 
    }
    
    .Pricing {
        padding: 30px 15px;  
    }
    .Pricing-container {
        max-width: 100%;    
        margin: 0 auto;
    }
    .Pricing h2 {
        font-size: 1.2rem;   
        margin-bottom: 10px;
    }
    .Pricing p {
        font-size: 1.5rem; 
        line-height: 1.4; 
    }
    
    .download {
        padding: 30px 15px;  
    }
    .download-container {
        max-width: 100%;    
        margin: 0 auto;
    }
    .download h2 {
        font-size: 1.2rem;   
        margin-bottom: 10px;
    }
    .download p {
        font-size: 1.5rem; 
        line-height: 1.4; 
    }
}
/* MOBILE: stack all cards vertically */
@media (max-width: 1000px) {
  .features-grid {
    grid-template-columns: 1fr;      /* one column */
    grid-template-rows: auto;        /* auto height */
    gap: 1.5rem;
  }

  /* remove manual positions */
  .feature-card {
    grid-area: auto !important;
    aspect-ratio: 1 / 1;             /* make each card a perfect square */
    position: relative;
  }

  .feature-card img {
    width: 100%;
    height: 100%;                    /* fill the square */
    object-fit: cover;               /* crop nicely */
  }
}

